
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Righteous&family=Roboto:wght@300;400;700&family=Rochester&family=Ubuntu:wght@300;400&family=Yanone+Kaffeesatz&display=swap');
:root{
    --primary-color:#d291bc;
    --secondary-color:#cb7fb1;
    --accent-color: #F0D9E8;
}
h1,h2,h3{

    font-family: 'Rochester', cursive; 
}

/* ---------header--------- */
header{
    position: relative;
    /* background-image: url('../media/images/header-img4.jpg'); */
    background: linear-gradient(rgba(210, 145, 188,0.3),rgba(210, 145, 188,0.4)),
    url('../media/images/header-img4.jpg');
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

.header-content{
    position: absolute;
    top: 50% ;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 100%;
    color: white;
}

.ring-img-holder img{
    width: 60px;
    margin-top: 20px;
}

.ring-img-holder{
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
    background-color: var(--primary-color);

}

.header-content h1{

    margin-top: 30px;
    font-size: 5.2rem;
    margin-bottom: 15px;
}

.header-content h6{
    text-transform: uppercase;
    width: fit-content;
    background-color: white;
    margin: auto;
    padding: 10px;
    font-size: 0.75rem;
    letter-spacing: 7px;
    font-weight: 900;
    color: var(--secondary-color);
}

/* ------------nav bar----------- */

.nav-link{

    color: white !important;
    text-transform: uppercase;
    padding: 0px 10px;
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 2px;
    transition: 0.3s;

}

.nav-link:hover{
    transform: translateY(-7px);
}

.navbar-brand{

    font-size: 1.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
}

/* -------------footer----------- */

footer{
    min-height: 100vh;
    background-color: var(--primary-color);
    padding: 100px 0;

}

footer h5{
    color:  white;
    font-size: 23px;
    line-height: 1;
    text-transform: capitalize;
    margin-bottom: 50px;
}

footer p{
    color : white;
    font-size: 16px;
    line-height: 1.2;
    
}

.footer-links{
    list-style-type: none;
    padding-left: 0;
}

.footer-links li a{
    color: white;
    font-size: 16px;
    line-height: 1;
    
}

.footer-links li{
    margin-bottom: 15px;
}

.footer-links li i{
    margin-right: 5px;
}

.footer-social{
    list-style-type: none;
    padding-left: 0;
    display: flex;
    gap: 10px;

}

.footer-social a{
    color: white;
    border-radius: 50%;
    background-color: var(--secondary-color);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s all ease-in-out;
}
.footer-social a:hover {
    background: white;
    color: var(--secondary-color);
    text-decoration: none;
}
ul{
    list-style-type: none;
    padding-left: 0;
}
a:hover{
    text-decoration: none;
}
.footer-contact a{
    display: flex;
    justify-content: start;
    gap: 20px;

}

.footer-contact a i{
    display: flex;
    height: 20px;
    width: 10px;
    justify-content: center;
    font-size: 20px;
    color: white;
}


/* ----------Friend & Family------------- */

section{
    padding-top: 100px  ;
}

.sec-fnf{
    background-color:  white;
    min-height: 100vh;

}

.sec-header{
    text-align: center;

}

.sec-header h1{
    color: var(--secondary-color);
    font-size: 5rem;
}

.sec-header h6{
    padding: 5px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9rem;
    color: var(--secondary-color);
    font-weight: 800;
    border: dashed var(--secondary-color) 1px ;
}

.fnf-card{
    text-align: center;
    padding: 10px;
}

.fnf-card img{
    width: 100%;
    border: solid var(--accent-color) 10px ;
}

.fnf-card h5{
    font-family: 'Rochester', cursive;
    color: var(--secondary-color);
    font-size: 1.5rem;
    margin-top: 30px;
    font-weight: 700;
}

.fnf-card p{
    color: silver;
    font-weight: 600;
}

.sec-swt-msg{
    background-color: rgb(240, 243, 243);
    min-height: 100vh;
}

.swt-msg-crd{
    background-color: white;
    padding: 20px;
}

.swt-crd-body{
    display: flex;
    
}

.swt-crd-body img{
    width: 80px;
    border: solid var(--accent-color) 5px ;
}

.swt-crd-body h4{
    font-size: 1.2rem;
}

.swt-crd-body p{
    color: var(--secondary-color);
}

.swt-crd-inner{
    display: flex;
    align-items: center;
}

.crd-msg-content{
    color: gray;
    line-height: 30px;
}