@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Righteous&family=Roboto:wght@300;400;700&family=Rochester&family=Ubuntu:wght@300;400&family=Yanone+Kaffeesatz&display=swap");

:root {
    --primary-color: #d291bc;
    --secondary-color: #cb7fb1;
    --accent-color: #F0D9E8;
    --dark-color: #10213d;
}

h1,
h2,
h3 {
    font-family: Rochester, cursive;
}

header {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}


header video{
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: -50px;
    left: 0;
    z-index: -1;

}

.video-contnt{

    min-height: 100vh;
    background-color: rgba(0,0,0,0.4);
    


}


.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    color: white;
}

.ring-img-holder img {
    width: 60px;
    margin-top: 20px;
}

.ring-img-holder {
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.header-content h1 {
    margin-top: 30px;
    font-size: 5.2rem;
    margin-bottom: 15px;
}

.header-content h6 {
    text-transform: uppercase;
    width: fit-content;
    background-color: white;
    margin: auto;
    padding: 10px;
    font-size: 0.75rem;
    letter-spacing: 7px;
    font-weight: 900;
    color: var(--secondary-color);
}

.nav-link {
    text-transform: uppercase;
    padding: 0px 10px;
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 2px;
    transition: all 0.3s ease 0s;
    color: white !important;
}

.nav-item{
    transition: 0.3s !important;
}

.nav-item:hover .nav-link{
    transform: translateY(7px);
    color: var(--primary-color) !important;
}

.navbar-brand {
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
}

footer {
    min-height: 100vh;
    background-color: var(--primary-color);
    padding: 100px 0px;
}

footer h5 {
    color: white;
    font-size: 23px;
    line-height: 1;
    text-transform: capitalize;
    margin-bottom: 50px;
}

footer p {
    color: white;
    font-size: 16px;
    line-height: 1.2;
}

.footer-links {
    list-style-type: none;
    padding-left: 0px;
}

.footer-links li a {
    color: white;
    font-size: 16px;
    line-height: 1;
}

.footer-links li {
    margin-bottom: 15px;
}

.footer-links li i {
    margin-right: 5px;
}

.footer-social {
    list-style-type: none;
    padding-left: 0px;
    display: flex;
    gap: 10px;
}

.footer-social a {
    color: white;
    border-radius: 50%;
    background-color: var(--secondary-color);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out 0s;
}

.footer-social a:hover {
    background: white;
    color: var(--secondary-color);
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

a:hover {
    text-decoration: none;
}

.footer-contact a {
    display: flex;
    justify-content: start;
    gap: 20px;
}

.footer-contact a i {
    display: flex;
    height: 20px;
    width: 10px;
    justify-content: center;
    font-size: 20px;
    color: white;
}

section {
    padding-top: 100px;
}

.sec-fnf {
    background-color: white;
    min-height: 100vh;
}

.sec-header {
    text-align: center;
}

.sec-header h1 {
    color: var(--secondary-color);
    font-size: 5rem;
}

.sec-header h6 {
    padding: 5px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9rem;
    color: var(--secondary-color);
    font-weight: 800;
    border: dashed var(--secondary-color) 1px;
}

.fnf-card {
    text-align: center;
    padding: 10px;
}

.fnf-card img {
    width: 100%;
    border: solid var(--accent-color) 10px;
}

.fnf-card h5 {
    font-family: Rochester, cursive;
    color: var(--secondary-color);
    font-size: 1.5rem;
    margin-top: 30px;
    font-weight: 700;
}

.fnf-card p {
    color: silver;
    font-weight: 600;
}

.sec-swt-msg {
    background-color: rgb(240, 243, 243);
    min-height: 100vh;
}

.swt-msg-crd {
    background-color: white;
    padding: 20px;
}

.swt-crd-body {
    display: flex;
}

.swt-crd-body img {
    width: 80px;
    border: solid var(--accent-color) 5px;
}

.swt-crd-body h4 {
    font-size: 1.2rem;
}

.swt-crd-body p {
    color: var(--secondary-color);
}

.swt-crd-inner {
    display: flex;
    align-items: center;
}

.crd-msg-content {
    color: gray;
    line-height: 30px;
}

.our-story {
    padding-bottom: 100px;
    background-image: url("../media/images/our-story-back");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.our-story-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.story-box {
    background-color: var(--secondary-color);
    padding: 35px;
    text-align: right;
    position: relative;
    width: 45%;
}

.story-box h6 {
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.our-story h3 {
    font-size: 40px;
    color: white;
}

.our-story p {
    color: white;
    line-height: 1.5;
    font-size: 17px;
}

.story-box:before {
    position: absolute;
    content: "";
    width: 95%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px dashed white;

}

.story-box:after {
    position: absolute;
    content: "";
    width: 95%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(2deg);
    border: 1px dashed white;
}
.our-story-img {
    width: 100px;
    height: 100px;
    overflow: hidden;
border-radius: 50%;
position: relative;}
.our-story-img:after{
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    transform: translate(-50%, -50%);
    width: 85%;
    height: 85%;
    border-radius: 50%;
    border:1px dashed white
}
.story-row{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.sec-about-home{
    min-height: 100vh;

}

.sec-about-home img{
    width: 100%;
}

.sec-about-home a{
    background-color: var(--primary-color);
    display: inline-block;
    padding: 8px 15px;
    color: white;
    margin-top: 15px;
}

.sec-get-in-touch{
    background-color: var(--dark-color);
    text-align: center;
    padding-bottom: 70px;
}

.sec-get-in-touch h2{
    color: var(--primary-color);
    font-size: 3rem;
}

.sec-get-in-touch p{
    color: silver;
    font-size: 1.1rem;
}

.sec-get-in-touch input{
    width: 100%;
    background-color: transparent;
    outline: none;
    border: solid 2px silver;
    padding: 8px 15px;
    color: rgb(219, 217, 217);
    border-radius: 7px;
    margin-top: 15px;

}

.sec-get-in-touch input:focus{
    border-color: var(--secondary-color);
}

.sec-get-in-touch button{
    margin-top: 15px;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    padding: 8px 20px;
    font-size: 1.1rem;
    color: white;

}

.sec-services-home{
    padding: 0 !important;
}

.service-h-crd{
    background-image: url('../media/images/wedding.jpg');
    height: 500px;
    background-size: cover;   
}

.s-h-1{
    background-image: url('../media/images/camera.jpg') !important;
}

.s-h-2{
    background-image: url('../media/images/car.jpg') !important;
}


.service-h-crd:hover .s-h-crd-inner{
    visibility: visible;
    opacity: 1;
    height: 500px;

}


.s-h-crd-inner{
    height: 0px;
    background-color: rgba(0,0,0,0.7);
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: 0.4s;
    opacity: 0;
}

.s-h-crd-inner h2{
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 2.7rem;
    margin-top: 25px;
}

.s-h-crd-inner p{
    color: white;
    font-size: 1.1rem;
}

.s-h-crd-inner a{
    margin-top: 15px;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    padding: 8px 20px;
    font-size: 1.1rem;
    color: white;
    display: inline-block;
}


/* ====================================================================
-----------------------login----------------------------------------
==================================================================== */


.sec-login{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
    url('../media/images/header-img1.jpg');
    background-size: cover;
    padding-top: 0 !important;
    margin-top: 0 !important;

}


.login-content{
    min-height: 100vh;
    display: flex;
    align-items: center;
}


.login-content h2{
    color: white;
    font-size: 3rem;
}


.login-content p{
    color: white;
    margin-top: 30px;
}


.login-container{
    background-color: white;
    padding: 40px;
    margin-top: 100px;
    border-radius: 30px;

}
.login-container h4{
    font-size: 2rem;
}


.form-login{
    margin-top: 30px;

}

.form-login input{
    width: 100%;
    padding: 12px;
    outline: none;
    border-radius: 8px;
    border: solid 2px silver;
    margin-top: 15px;
    transition: 0.3s
}

.form-login input:focus{
    border-color: var(--primary-color);
}

.form-login button{
    padding: 10px;
    width: 100%;
    margin-top: 20px;
    outline: none;
    border: none;
    color: white;
    background-color: var(--secondary-color);
    cursor: pointer;
    transition: 0.3s;
}

.form-login button:hover{
    background-color: var(--primary-color);
}
.login-signup{
    margin-top: 10px;

}

.login-signup a{
    color: var(--secondary-color);
}

.login-social-sec{
    margin-top: 10px;
    display: flex;

}

.login-social-sec a{
    display: inline-flex;
    color: white;
    padding: 5px;
    height: 35px;
    width: 35px;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    border-radius: 50%;
    font-size: 1.1rem;
    transition: 0.3s;
    cursor: pointer;



}

.login-social-sec a:hover{
    text-decoration: none;
    background-color: var(--primary-color);
}




/* ====================================================================
-----------------------signup----------------------------------------
==================================================================== */


.sec-signup{
    background:linear-gradient(-45deg,rgba(120, 52, 96,0.8),rgba(210, 145, 188,0.8),rgba(139, 190, 224,0.8)),
    url('../media/images/header-img2.jpg');
    min-height: 100vh;
    padding-top: 0 !important;
    margin-top: 0 !important;
    background-size: cover;
    position: relative;

}

.sng-up-cntr{
    text-align: center;
    width: 400px;
    background-color:rgba(84, 31, 65,0.6);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding:40px 30px;
    box-shadow: rgba(0,0,0,0.7) 0px 10px 10px;
    /* filter: drop-shadow(rgba(0,0,0,0.9) 0px 10px 5px); */
}

.sng-up-cntr h3{
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
}

.sng-up-cntr input{
    width: 100%;
    margin-top: 15px;
    padding: 10px 0px;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: solid 1px silver;
    color: white;
}

.sng-up-cntr input::placeholder{
    color: rgb(206, 206, 206);
}

.sng-up-cntr input:focus{
    border-color: white;
}

.sng-up-cntr input[type='submit']{
    width: fit-content !important;
    padding: 4px 20px;
    font-size: 1rem;
    border: none;
    outline: none;
    margin-top: 35px;
    background-color: white;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--secondary-color) !important;
}

.sng-up-cntr span{
    margin-top: 25px;
    display: block;
    color: white;

}

.sng-up-cntr span a{

    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: 700;
    
}




/* ====================================================================
-----------------------contact----------------------------------------
==================================================================== */


.sec-contact{
    background:url('../media/images/contactimage.jpg');
    min-height: 100vh;
    background-size: cover;
    margin-top:0;
    padding-top: 0;

}

.sec-contact-inner{
    min-height: 100vh;
    background-color: rgba(0,0,0,0.4);
    padding-bottom: 100px;

}

.cntct-crd{
    background-color: white;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
}


.cntct-crd span {
    font-size: 2rem;
    color: var(--secondary-color);

}

.cntct-crd h6{

    margin-top: 10px;
}

.cntct-crd p{

    color: gray;
}

.cntnt-contact{
    margin-top: 100px;
}

.contact-form{

    margin-top: 70px;
}

.contact-form label{

    margin-top: 20px;
    color: white;
    display: block;

}

.contact-form input,textarea{

    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: solid white 1px;
    color: white;
}

.contact-form input::placeholder,textarea::placeholder{
    color: silver;
}


.contact-form textarea{

    height: 100px;
}

.contact-form input[type='submit']{
    border: none;
    background: var(--primary-color);
    padding: 7px;
    color: white;
    text-transform: uppercase;
    margin-top: 20px;
}


.contact-form input[type='submit']:hover{

    background: var(--secondary-color);
    transition: 0.3s;


}

.cont-content{
    margin-top: 70px;
}

.cont-content h2{
    color: white;
    text-transform: capitalize;
    font-size: 45px;
    font-family: 'Roboto';

}

.cont-content p{
    color: white;

}
.cont-content p:nth-child(2){
    font-weight: 600;
    font-style: italic;
}
.social-icon a{
    font-size: 35px;
    color:var(--primary-color);
    margin-right: 15px;
    transition: 0.3s ease-in-out;
    display: inline-block;


}

.social-icon a:hover{
    color: white;
    transform: translateY(-5px);
}



/* ====================================================================
-----------------------about-us----------------------------------------
==================================================================== */


.abt-us-sec{

    padding-top: 0;
    margin-top: 0;
}


.abt-us-header{

    min-height: 550px;
    text-align: center;
    background-image: url('../media/images/header-img2.jpg');
    background-size:cover ;
}

.abt-us-header h1{
    padding-top: 100px;
    color: white;
}

.abt-us-header p{

    color: white;
    font-size: 1.1rem;
    margin-top: 30px;
}


.abt-us-header button{

    padding: 10px 20px;
    background: transparent;
    font-size: 1.1rem;
    border: solid white 2px;
    color: white;
    letter-spacing: 1px;
    margin-top: 10px;
    transition: 0.3s ease-in-out;
    cursor: pointer;

}

.abt-us-header button:hover{

    background-color: var(--secondary-color);
    
}



.abt-sub-contnt{
    padding: 90px;
    text-align: center;
    min-height: 500px;
}


.abt-sub-contnt h2{
    margin-top: 40px;
    color: var(--primary-color);
}


.abt-sub-contnt p{
    margin-top: 35px;
    line-height: 30px;
}


.abt-sub-contnt button{
    color: white;
    background-color: var(--secondary-color);
    outline: none;
    border: none;
    padding: 5px 20px;
    margin-top: 35px;
    letter-spacing: 2px;
}


.abt-sub-img{

    min-height: 500px;
    background-image: url('../media/images/header-img4.jpg');
    background-size: cover;
    background-attachment: fixed;
}


.abt-sub-img2{

    min-height: 500px;
    background-image: url('../media/images/header-img3.jpg');
    background-size: cover;
    background-attachment: fixed;
}


.abt-features{

    text-align: center;
}

.abt-features span{
    font-size: 3rem;
    color: var(--secondary-color);
}

.abt-features h4{

    font-size: 1.2rem;
    margin: 10px;
}

